@import url('https://fonts.google.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.registration-box{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 1025px;
    height: 100%;
}
.registration_container{
    max-width: 1025px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}
.registration_container .title,
.profilo_container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.registration_container .title::before,
.profilo_container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.registration_container form .user-details{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
}
form .user-details .input-box,
form .user-details .input-box2,
form .user-details .input-box4{
    margin-bottom: 15px;
    margin-left: 15px;
    width: 300px;
}
.user-details .input-box .details,
.user-details .input-box2 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box2 input,
.user-details .input-box4 select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box2 input:focus,
.user-details .input-box2 input:valid{
    border-color: #9b59b6;
}
/* form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
} */
/* form input[type="radio"]{
    display: none;
} */
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.tipologia{
    margin-top: 20px;
    height: 70px;
    width: 100%;
}

.tipologia .tipologia-title{
    font-size: 20px;
    font-weight: 500;
}

.tipologia .tipo-account{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 50%;
}
.tipo-account .tipo_1 span,
.tipo-account .tipo_2 span{
    margin-left: 5px;
}

.scelta .locatore{
    position: relative;
}

body.active .input-box2{
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
}

.input-box3{
    display: none;
    pointer-events: none;
    opacity: 0;
}

body .input-box2{
    transition: all 0.3s ease;
}

.user-details .input-box ul {
    color: #f93d00;
    font-size: 12px;
    margin-top: 10px;
    line-height: 100%;
}

/* .errors ul {
	
} */


@media (max-width: 584px) {
    .registration_container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .registration_container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
       width: 0; 
    }
}


/* Applicazione CSS Filtri */

.container_filtri form .niente{
    display: none;
    pointer-events: none;
    opacity: 0;
}
form .scelta_tipologia_annuncio{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}
.scelta_tipologia_annuncio .tipo_annuncio_posto_letto{
    margin-left: 30px;
}

form .filtri_base{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.filtri_base .filtro_details{
    margin-left: 15px;
    margin-top: 5px;
}

form .campi_univoci{
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.campi_univoci .wifi_checkbox label{
    margin-left: 15px;
}

.campi_univoci .balcone_checkbox{
    margin-right: 15px;
}
.campi_univoci .balcone_checkbox label{
    margin-left: 15px;
}

/* .filtro_details .label-input{
    justify-content: left;
} */

.filtro_details .input{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

/* .user-details .input-box .details,
.user-details .input-box2 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
} */

.filtri_avanzati{
    margin-bottom: 10px;
}

.filtri_avanzati .filtri_posto_letto{
    width: 1000px;
}
.filtri_posto_letto .camere{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}
.camere label{
    margin-right: 5px;
    margin-left: 10px;
}

.filtri_posto_letto .angolo_studio{
    justify-content: center;
    margin-top: 5px;
}
.angolo_studio label{
    margin-left: 15px;
}

.filtri_avanzati .filtri_appartamento{
    width: 100%;
}
.filtri_appartamento .cucina label,
.filtri_appartamento .locale_ricreativo label,
.filtri_appartamento .lavatrice label,
.filtri_appartamento .lavastoviglie label{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.container_filtri.active form .filtri_posto_letto{
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}

.container_filtri form .filtri_posto_letto{
    opacity: 1;
    transition: all 0.3s ease;
}
.container_filtri form .filtri_avanzati{
    margin-top: 5px;
    display: flex;
}
.container_filtri form .filtri_avanzati .filtri_appartamento{
    opacity: 0;
    transition: all 0.3s ease;
}

.container_filtri.active form .filtri_appartamento{
    opacity: 1;
    transition: all 0.3s ease;
}

/* .errors {
	color: #f93d00;
    font-size: 12px;
    margin-top: 4px;
}

.errors ul {
	line-height: 100%;
} */


/* Inizio CSS Profilo Locatore e Locatario */

.locatore_profilo,
.locatario_profilo{
    display: flex;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.profilo_container{
    max-width: 1025px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    border-bottom-width: 2px;
}
.locatore_profilo .image_profilo,
.locatario_profilo .image_profilo{
    height: 74.5%;
    width: 10%;
    border-radius: 5px;
}
.image_profilo img{
    height: 80px;
    width: 80px;
    margin-left: 25%;
    margin-top: 20px;
    border-radius: 50%;
    background-color: red;
}
.options_buttons{
    padding-top: 20px;
    height: 74.5%;
    width: 15%;
    border-radius: 5px;
    border-bottom-width: 2px;
}
.options_buttons button,
.locatario_profilo.active form .salva_button{
    height: 40px;
    width: 100%;
    margin-top: 15px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.profilo_container form .user-details_profilo{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
}
form .user-details_profilo .input-box,
form .user-details_profilo .input-box2{
    margin-bottom: 15px;
    margin-left: 15px;
    width: 300px;
}
.user-details_profilo .input-box .details,
.user-details_profilo .input-box2 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details_profilo .input-box input,
.user-details_profilo .input-box2 input{
    pointer-events: none;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details_profilo.active .input-box input,
.user-details_profilo.active .input-box2 input{
    pointer-events: all;
}

.user-details_profilo .input-box input:focus,
.user-details_profilo .input-box input:valid,
.user-details_profilo .input-box2 input:focus,
.user-details_profilo .input-box2 input:valid{
    border-color: #9b59b6;
}

.locatario_profilo form .salva_button{
    pointer-events: none;
    opacity: 0;
}

.locatario_profilo.active form .salva_button{
    pointer-events: all;
    opacity: 1;
}

.locatario_profilo.active .options_buttons button.modifica_button{
    pointer-events: none;
    opacity: 0;
}



/* ----  CSS Messaggistica  ---- */

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 810px;
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 650px;
}

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}